In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [14]:
data = pd.read_csv("/Users/gurchetansingh/HR-analysis/HR_comma_sep.csv")

In [15]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
sales                    14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [6]:
data["sales"].unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [7]:
data["salary"].unique()

array(['low', 'medium', 'high'], dtype=object)

In [16]:
train = data[:10000]
test = data[10000:]

In [17]:
sales_dummies_train = pd.get_dummies(train["sales"])
sales_dummies_test = pd.get_dummies(test["sales"])

train.drop(["sales"], axis = 1, inplace=True)
test.drop(["sales"], axis = 1, inplace=True)

train = train.join(sales_dummies_train)
test = test.join(sales_dummies_test)

train.head()

/Users/gurchetansingh/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/gurchetansingh/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,salary,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0.38,0.53,2,157,3,0,1,0,low,0,0,0,0,0,0,0,1,0,0
1,0.80,0.86,5,262,6,0,1,0,medium,0,0,0,0,0,0,0,1,0,0
2,0.11,0.88,7,272,4,0,1,0,medium,0,0,0,0,0,0,0,1,0,0
3,0.72,0.87,5,223,5,0,1,0,low,0,0,0,0,0,0,0,1,0,0
4,0.37,0.52,2,159,3,0,1,0,low,0,0,0,0,0,0,0,1,0,0

In [18]:
salary_dummies_train = pd.get_dummies(train["salary"])
salary_dummies_test = pd.get_dummies(test["salary"])
train.drop(["salary"], axis = 1, inplace=True)
test.drop(["salary"], axis = 1, inplace=True)
train = train.join(salary_dummies_train)
test = test.join(salary_dummies_test)
train.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,IT,RandD,...,hr,management,marketing,product_mng,sales,support,technical,high,low,medium
0,0.38,0.53,2,157,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [19]:
X_train = train.drop("left", axis=1)
Y_train = train["left"]
X_test = test.drop("left", axis=1)
Y_test = test["left"]

print X_train.info()
print X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
satisfaction_level       10000 non-null float64
last_evaluation          10000 non-null float64
number_project           10000 non-null int64
average_montly_hours     10000 non-null int64
time_spend_company       10000 non-null int64
Work_accident            10000 non-null int64
promotion_last_5years    10000 non-null int64
IT                       10000 non-null uint8
RandD                    10000 non-null uint8
accounting               10000 non-null uint8
hr                       10000 non-null uint8
management               10000 non-null uint8
marketing                10000 non-null uint8
product_mng              10000 non-null uint8
sales                    10000 non-null uint8
support                  10000 non-null uint8
technical                10000 non-null uint8
high                     10000 non-null uint8
low                      10000 non-null uint8
medium                   10000 non-null uint8
dtypes: float64(2), int64(5), uint8(13)
memory usage: 673.9 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 10000 to 14998
Data columns (total 20 columns):
satisfaction_level       4999 non-null float64
last_evaluation          4999 non-null float64
number_project           4999 non-null int64
average_montly_hours     4999 non-null int64
time_spend_company       4999 non-null int64
Work_accident            4999 non-null int64
promotion_last_5years    4999 non-null int64
IT                       4999 non-null uint8
RandD                    4999 non-null uint8
accounting               4999 non-null uint8
hr                       4999 non-null uint8
management               4999 non-null uint8
marketing                4999 non-null uint8
product_mng              4999 non-null uint8
sales                    4999 non-null uint8
support                  4999 non-null uint8
technical                4999 non-null uint8
high                     4999 non-null uint8
low                      4999 non-null uint8
medium                   4999 non-null uint8
dtypes: float64(2), int64(5), uint8(13)
memory usage: 336.9 KB
None

In [20]:
logreg = LogisticRegression()

logreg.fit(X_train, Y_train)

print(logreg.score(X_test, Y_test))

0.632726545309

In [21]:
svc = SVC()

svc.fit(X_train, Y_train)

svc.score(X_train, Y_train)
svc.score(X_test, Y_test)

0.93618723744748955

In [22]:
random_forest = RandomForestClassifier(n_estimators=100)

random_forest.fit(X_train, Y_train)

random_forest.score(X_train, Y_train)
random_forest.score(X_test, Y_test)

0.99519903980796154

In [23]:
knn = KNeighborsClassifier(n_neighbors = 3)

knn.fit(X_train, Y_train)

knn.score(X_test, Y_test)

0.92938587717543508

In [26]:
gaussian = GaussianNB()

gaussian.fit(X_train, Y_train)


gaussian.score(X_test, Y_test)

0.78315663132626523

In [35]:
predictions_model = random_forest

In [34]:
coeff=predictions_model.feature_importances_
for f in range(X_train.shape[1]):
    print("%d. %s (%f)" % (f + 1, X_train.columns[f], coeff[f]))

1. satisfaction_level (0.323029)
2. last_evaluation (0.120031)
3. number_project (0.178699)
4. average_montly_hours (0.160861)
5. time_spend_company (0.177847)
6. Work_accident (0.008244)
7. promotion_last_5years (0.000532)
8. IT (0.001777)
9. RandD (0.001895)
10. accounting (0.001506)
11. hr (0.001492)
12. management (0.001354)
13. marketing (0.001512)
14. product_mng (0.001195)
15. sales (0.003287)
16. support (0.002508)
17. technical (0.003016)
18. high (0.003861)
19. low (0.004377)
20. medium (0.002978)